{% load website_extras %}
<div class="offcanvas offcanvas-end" tabindex="-1" id="mobileSidebar" aria-labelledby="mobileSidebarLabel">
    <div class="offcanvas-header border-bottom">
        <h5 class="offcanvas-title" id="mobileSidebarLabel">
            <i class="bi bi-cloud-fill text-primary"></i> Menu
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link py-3 fs-5" href="{% url 'home' %}">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link py-3 fs-5" href="{% url 'about' %}">About Us</a>
            </li>
            <li class="nav-item">
                <a class="nav-link py-3 fs-5" href="{% url 'products' %}">Products</a>
            </li>
            <li class="nav-item">
                <a class="nav-link py-3 fs-5" href="{% url 'services' %}">Services</a>
            </li>
            <li class="nav-item">
                <a class="nav-link py-3 fs-5" href="{% url 'projects' %}">Projects</a>
            </li>
            <li class="nav-item">
                <a class="nav-link py-3 fs-5" href="{% url 'team' %}">Our Team</a>
            </li>
            <li class="nav-item">
                <a class="nav-link py-3 fs-5" href="{% url 'clients' %}">Clients</a>
            </li>
            <li class="nav-item">
                <a class="nav-link py-3 fs-5" href="{% url 'careers' %}">Careers</a>
            </li>
            <li class="nav-item">
                <a class="nav-link py-3 fs-5" href="{% url 'blog' %}">Blog</a>
            </li>
            <li class="nav-item">
                <a class="nav-link py-3 fs-5" href="{% url 'contact' %}">Contact</a>
            </li>
        </ul>
        <a href="{% url 'contact' %}" class="btn btn-primary w-100 mt-4 btn-lg">Get Started</a>
    </div>
</div>
